body{
    background-image: url(../img/estrelapiscando.gif);
    cursor: default;
}

header{
    background-color: #343a40
}



main{
    background-color: #212529;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    padding: 1%;   
}

section{
    margin-top: 2%;
    margin-bottom: 2%;
}


footer{
    background-color: black;
    padding: 3%;
}

.cabecalho{
    padding: 3%;
}

.rodape{
    padding: 3%;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table,td,th{
    border: 1px solid white;
    padding: 1.5%;
    font-family: "Kode Mono", monospace;
    color: black;
    text-align: center;
}

span{
    font-family: "Kode Mono", monospace;
    color: #04AA6D;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
p{
    line-height: 1.5;
    font-family: "Kode Mono", monospace;
    color: #ced4da;
    font-optical-sizing: auto;
    font-weight:50
}
ul li{
    line-height: 1.5;
    font-family: "Kode Mono", monospace;
    color: #ced4da;
    font-optical-sizing: auto;
    font-weight:50
}

h2,h1{
    text-align: center;
}

.titulos{
    text-align: center;
    font-family: "Jersey 15", sans-serif;
    color: #80ed99;
    font-weight: 100;
    font-size: 300%;
    font-style: normal;
}


.imgmeio{
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

    
}

.preto{
    background-color: black;
}

figure{
    text-align: center;
 }
 
 legend{
     margin-top:  0.6%;
     font-family: "Kode Mono", monospace;
     color: #80ed99;

 }
 
  .imggaleria{
     width: 90%;
 } 
 
 .linha{
     display: flex;
     flex-flow: row wrap;
 }
 
 .col-3{
     width: 25%;
 }

 button {
    background-color: #04AA6D; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: "Kode Mono", monospace;
  }

  .button {
    background-color: black; 
    color: white; 
    border: 2px solid #04AA6D;
  }
  
  .button:hover {
    background-color: #04AA6D;
    color: white;
  }

  .mapamundi{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
    position: relative;
  }

  .centro {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #04AA6D;
    font-family: "Jersey 15", sans-serif;
    background-color: #ced4da;
  }
  
  .relative{
    position: relative;
  }
  

 
  
  a{
    text-decoration: none;
    color: inherit;
  }

  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #04AA6D; 
    padding: 20px;
    box-sizing: border-box;
}

.titulinho{
    text-align: center;
    font-family: "Jersey 15", sans-serif;
    color: black;
    font-weight: 100;
    font-size: 150%;
    font-style: normal;
}

@media screen and (max-width: 800px){
    .card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 660px) {
    .card {
        width: calc(100% - 20px);
    }
}