body {background-color:#BBD0FF;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color: #EF7A85;}
h1{color: #be95c4;text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h2{background-color: #BDE0FE}
tr{font-style: oblique,italic;}
